*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 100px;
}
body{
	font-family: "microsoft yahei,微软雅黑";
	font-size: 0.14rem;
	background: #efefef;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	/*删除图片默认的下边距*/
	vertical-align: top;
}
/*搜索头部*/
.search-top{
	display: flex;
	align-items:center;
	background: #f9fafd;
	padding: 0.12rem 0;
	border-bottom: 1px solid #e0e0e0;
}
.search-top .back{
	margin-left: 0.17rem;
	margin-right: 0.46rem;
	width: 0.16rem;
	height: 0.26rem;
	background: url(../img/zuo.png) no-repeat;
	background-size: 100% 100%;
}
.search-box{
	width: 2.58rem;
	border: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
	border-radius: 0.05rem;
	padding: 0.08rem 0;
}
.search-box span{
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	background: url(../img/sousuo.png) no-repeat;
	background-size: 0.16rem 0.16rem;
	margin-left: 0.07rem;

}
.search-box input{
	border: 0;
	outline: none;
	height: 0.2rem;
	background: #f9fafd;
}
.search-box input::-webkit-input-placeholder{
	font-size: 0.17rem;

}
.search-sign{
	color: #777777;
	font-size: 0.17rem;
	margin-left: 0.14rem;
}
.serach-hot{
	padding: 0.35rem 0.33rem 0 0.17rem;
}
.serach-hot p{
	color: #888888;
	font-size: 0.17rem;
}
.serach-hot a{
	display: inline-block;
	padding: 0.15rem 0.2rem;
	background: #fff;
	color: #000;
	font-size: 0.17rem;
	border-radius: 0.25rem;
	border: 1px solid #e9e9e9;
	margin-top: 0.13rem;
}