*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 100px;
}
body{
	font-family: "microsoft yahei,微软雅黑";
	font-size: 0.14rem;
	background: #efefef;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	/*删除图片默认的下边距*/
	vertical-align: top;
}
/*头部*/
.cart-top{
	font-size: 0.17rem;
	font-weight: bold;
	text-align: center;
	line-height: 0.59rem;
	border-bottom: 1px solid #e0e0e0;
}
/*地址*/
.address-shou{
font-size: 0.17rem;
background: #fff;
border-top: 2px dashed blue;
border-bottom: 2px dashed blue;
margin-bottom: 0.13rem;
}
.address-shou .address-left{
	float: left;
}
.address-shou .address-left p{
	line-height: 0.34rem;
}
.address-shou .address-left p span:first-child{
	display: inline-block;
	padding: 0 0.2rem;
	vertical-align: top;
}
.address-shou .address-left p span:last-child{
	display: inline-block;
	width: 2.3rem;
}
.address-shou .xiu{
	float: right;
	line-height: 1.23rem;
	background: url(../../img/you2.png) no-repeat right center;
	background-size: 0.17rem 0.12rem;
	padding-right: 0.27rem;
}
.address-shou::after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/*主体部分*/
.cart-main{

}
.cart-main ul{
	background: #fff;
	font-size: 0.17rem;

}
.cart-main li{
	border-bottom: 1px solid #e0e0e0;
	padding-left:0.18rem ;
	
}
.cart-main .shan{
	padding: 0.05rem 0;
}
.cart-main .shan span{
	display: inline-block;
	border-left: 0.05rem solid #ffd600;
	text-indent: 0.13rem;
	font-size: 0.16rem;
	color: #999999;
}
.cart-main .shan i{
	font-style: normal;
	border-radius: 0.16rem;
	display: inline-block;
	border:1px solid red;
	padding: 0.07rem 0.11rem;
	color: red;
	margin-left: 2.11rem;
}
.cart-main .wenzi{
	margin-top: 0.1rem;
	color: #a599b2;
	font-size: 0.16rem;
}
.cart-main .shou-time{
	padding: 0.23rem 0 0.25rem 0;
	font-size: 0.17rem;
}
.cart-main .shou-time span:first-child{
	color: red;
} 
.cart-main .shou-time span:last-child{
	background: url(../../img/you2.png) no-repeat right center;
	background-size: 0.17rem 0.12rem;
	padding-right: 0.25rem;
	margin-left: 1.35rem;
}
.shou-comment{
	padding: 0.1rem 0;
}
.shou-comment input{
	margin-left: 0.18rem;
	border: 1px solid #cecece;
	padding: 0.12rem 0.3rem 0.12rem 0.08rem;
	width: 2.84rem;
	border-radius: 0.04rem;
}
.shou-comment input::-webkit-input-placeholder{
	font-size: 0.17rem;
}
/*商品部分*/
.goods{
	display: flex;
	align-items: center;
	padding: 0.18rem 0;
	
}

/*选中*/
.goods .goods-selected{
	width: 0.23rem;
	height: 0.23rem;
	background: url(../../img/xuanzhong.png);
	background-size: 100% 100%;
}
/*不选中*/
.goods .goods-no-selected{
	width: 0.23rem;
	height: 0.23rem;
	background: url(../../img/quxiaoxuanzhong.png);
	background-size: 100% 100%;
}
.goods .goods-img{
	margin:0  0.35rem;
	width: 0.64rem;
	height: 0.64rem;
}
.goods .goods-img img{
	width: 0.64rem;
	height: 0.64rem;
}
.goods-describe{
	position: relative;
	width: 2.04rem;
}
.goods-describe .goods-name{
	margin-bottom: 0.36rem;
}
.goods-describe .goods-price span{
	display: inline-block;

}
.goods-describe .goods-price{
	/*height: 0.35rem;*/
}
/*z-index活用*/
.goods-describe .goods-price .goods-count{
	position: absolute;
	right: 0;
	top: 60%;
	width: 1rem;
}
.count{
	display: inline-block;
	position: absolute;
	left: 0;
	z-index: 1;
	width: 1rem;
	line-height: 0.36rem;
	font-style: normal;
	text-align: center;
}
.cancel{
	position: absolute;
	left: 0;
	z-index: 2;
	margin-right: 0.3rem;
	display: inline-block;
	width: 0.35rem;
	height: 0.35rem;
	border:1px solid red;
	border-radius: 50%;
	background-color: red;
	/*这个地方为什么不能用background*/
	background-image: url(../../img/ja.png);
	background-size: 200% 100%;
	background-position: left center;
}
.buy{
	position: absolute;
	right: 0;
	z-index: 2;
	display: inline-block;
	width: 0.35rem;
	height: 0.35rem;
	border:1px solid red;
	border-radius: 50%;
	background-color: red;
	/*这个地方为什么不能用background*/
	background-image: url(../../img/ja.png);
	background-size: 200% 100%;
	background-position: right center;
}
/*选好的页面*/
.selected{
	
}
/*全选中状态*/
.selected .selected-all{
	float: left;
	margin-top: 0.25rem;
	height: 0.23rem;
	padding-left: 0.34rem;
	background: url(../../img/xuanzhong.png) no-repeat left center;
	background-size: 0.23rem 0.23rem;
}
/*全不选中状态*/
.selected .selected-no{
	float: left;
	margin-top: 0.25rem;
	height: 0.23rem;
	padding-left: 0.34rem;
	background: url(../../img/quxiaoxuanzhong.png) no-repeat left center;
	background-size: 0.23rem 0.23rem;
}
.selected .money{
	margin-top: 0.25rem;
	float: left;
	margin-left: 0.34rem;
}
.selected .money span{
	color: red;

	margin-left: 0.14rem;
}
.selected input{
	float: right;
	border: 0;
	background: #ffd600;
	padding: 0.24rem 0.4rem;
}
.selected::after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
